<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application'%>

  <title>Invoice PDF</title>
</head>
<body>
 <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15">Invoice <%= @invoice.id %></h4>
                        <div class="mb-4">
                           <h2 class="mb-1 text-muted"><%= current_user.full_name %></h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1"><%= current_user.company_address %></p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> <%= current_user.email %></p>
                            <p><i class="uil uil-phone me-1"></i> <%= current_user.phone %></p>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Invoice To:</h5>
                                <h5 class="font-size-15 mb-2"><%= @invoice.client.name.titleize %></h5>
                                <p class="mb-1"><%= @invoice.client.address.titleize %></p>
                                <p class="mb-1"><%= @invoice.client.county %></p>
                                <p class="mb-1"><%= @invoice.client.email %></p>
                                <p class="mb-1"><%= @invoice.client.phone %></p>

                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                    <p>#DZ0112</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <p><%= Date.today %></p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Order No:</h5>
                                    <p>#1123456</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="py-2">
                        <h5 class="font-size-15">Order Services</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;">No.</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                    </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                    <% @invoice.services.each_with_index do |service, index| %>
                                    <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <td>
                                            <div>
                                                  <h5 class="text-truncate font-size-14 mb-1"><%= service.description %></h5>
                                            </div>
                                        </td>
                                        <td>€<%= sprintf "%.2f", service.amount %></td>
                                    </tr>
                                    <% end %>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="2" class="text-end">Subtotal</th>
                                        <td class="text-end">€<%= sprintf "%.2f", @invoice.subtotal %> </td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="2" class="border-0 text-end">
                                            VAT</th>
                                        <td class="border-0 text-end"><%= @invoice.vat %>%</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="2" class="border-0 text-end">Total</th>
                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">€<%= sprintf "%.2f", @invoice.total %></h4></td>
                                    </tr>
                                    <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table>
                            <!-- end table -->
                            <h4 class="fw-semibold mt-4"><%= @invoice.notes %></h4>
                        </div><!-- end table responsive -->
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
  </div>
</body>
</html>
