<div class="container content" data-controller="calculator">
  <%# <%= #render 'partials/form_invoice', client: @invoice.client %>

  <section class="invoice">
  <header class="row justify-content-between align-content-center">
    <div class="col-lg-10">
      <h4 class="mb-2">Invoice to</h4>
      <h2><%= @invoice.client.name.titleize %></h2>
    </div>
    <div class="col-lg-2">
      <div class="col-lg-12">
        <h5 class="mb-2">Issue Date</h5>
        <p><%= Date.today %></p>
      </div>
      <div class="col-lg-12">
        <h5 class="mb-2">Employee</h5>
        <p>Natalie Machado</p>
      </div>
    </div>
  </header>

  <main class="row justify-content-between">

    <div class="col-lg-6">
      <h5 class="mb-2">Address</h5>
      <p><%= @invoice.client.address.titleize %></p>
    </div>

    <div class="col-lg-3">
      <h5 class="mb-2">County</h5>
      <p><%= @invoice.client.county %></p>
    </div>

    <div class="col-lg-3">
      <h5 class="mb-2">Postcode</h5>
      <p><%= @invoice.client.postcode %></p>
    </div>

    <div class="col-lg-6">
      <h5 class="mb-2">Email</h5>
      <p id="email"><%= @invoice.client.email %></p>
    </div>

    <div class="col-lg-3">
      <h5 class="mb-2">Phone Number</h5>
      <p id="phone"><%= @invoice.client.phone %></p>
    </div>
  </main>

    <div class="row justify-content-between">
      <%= simple_form_for [@client, @invoice], html: { data: { turbo: false }} do |f|%>
        <span class="text-danger"><%= @invoice.errors[:base].first if @invoice.errors[:base].any? %></span>
          <h4 class="services text-xl">Services</h4>

          <div data-controller="nested-rondo" data-nested-rondo-field-class-value="service-field">

            <div data-nested-rondo-target="fieldContain">
              <%= f.simple_fields_for :services do |service| %>
                <%= render "service_fields", f: service %>
              <% end %>
            </div>

            <div class="links">
              <%= link_to_add_association "Add Service", f, :services, class: "btn btn-primary" %>
            </div>
          </div>

        <div class="row vat-notes justify-content-between">
          <div class="col-lg-8">
            <%= f.input :notes, as: :text %>
          </div>

          <div class="col-lg-3">
            <p data-calculator-target="subtotal"><%#= @invoice.services.sum(:amount) %></p>
            <%= f.input :vat, label: false, placeholder: "vat",input_html: { data: { "calculator-target" => "vat", action: "keyup->calculator#updateOnInput" } } %>
            <p data-calculator-target="total"></p>

            <% if @invoice.new_record? %>
              <%= f.submit "Create Invoice", class: "btn btn-primary vat-notes w-100" %>
            <% else @invoice.client.id? %>
              <%= f.submit "Update Invoice", class: "btn btn-primary vat-notes w-100" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
