<section class="invoice row align-items-center justify-content-center invoice-margin" data-controller="calculator">
  <header class="row g-3">
    <div class="col-md-10 col-12">
      <h4 class="mb-2">Invoice to</h4>
      <h2><%= client.name.squish.titleize %></h2>
    </div>
    <div class="col-md-2 col-12">
      <div>
        <h5 class="mb-2">Issue Date</h5>
        <p><%= Date.today %></p>
      </div>
      <div>
        <h5 class="my-2">Employee</h5>
        <p class="">Natalie Machado</p>
      </div>
    </div>
  </header>

  <main class="row align-items-start g-3">
    <div class="col-md-6 col-12">
      <h5 class="mt-2">Address</h5>
      <p><%= client.address.squish.titleize %></p>
      <div class="row g-3 mt-2">
        <div class="col-md-4 col-12">
          <h5 class="mb-2">Postcode</h5>
          <p><%= client.postcode.squish %></p>
        </div>
        <div class="col-md-8 col-12 text-wrap">
          <h5 class="mb-2">Email</h5>
          <p><%= client.email.squish %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <h5 class="mb-2">County</h5>
      <p><%= client.county.squish.titleize %></p>
    </div>
  </main>

  <div class="row g-3">
    <%= simple_form_for [@client, @invoice], html: { data: { turbo: false } } do |f| %>
      <span class="text-danger"><%= @invoice.errors[:base].first if @invoice.errors[:base].any? %></span>

      <h4 class="services text-xl">Services</h4>
      <div data-controller="nested-rondo" data-nested-rondo-field-class-value="service-field">
        <div data-nested-rondo-target="fieldContain">
          <%= f.simple_fields_for :services do |service| %>
            <%= render "service_fields", f: service %>
          <% end %>
        </div>
        <div class="links">
          <%= link_to_add_association "Add Service", f, :services, class: "btn btn-primary" %>
        </div>
      </div>

      <div class="row vat-notes g-3">
        <div class="col-lg-8 col-12">
          <%= f.input :notes, as: :text, placeholder: "Notes", label: false %>
        </div>

        <div class="col-lg-4 col-12">
          <div>
            <h5 class="mb-2">Subtotal</h5>
            <p class="w-100" data-calculator-target="subtotal"></p>
          </div>

          <div>
            <h5 class="my-2">VAT</h5>
            <%= f.input :vat, as: :string, label: false, placeholder: "%",input_html: { data: { "calculator-target" => "vat", action: "keyup->calculator#updateVat" } } %>
          </div>

          <div>
            <h5 class="mb-2">Total</h5>
            <p class="w-100" data-calculator-target="total"></p>
          </div>

          <%= f.submit @invoice.new_record? ? "Create Invoice" : "Update Invoice", class: "btn btn-primary w-100 mt-4 create-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</section>
