<section class="invoice row align-items-center justify-content-center invoice-margin">
  <header class="row g-3">
    <div class="col-md-10 col-12">
      <h4 class="mb-2">Invoice to</h4>
      <h2><%= invoice.name.squish.titleize %></h2>
    </div>
    <div class="col-md-2 col-12">
      <div>
        <h5 class="mb-2">Issue Date</h5>
        <p><%= Date.today %></p>
      </div>
      <div>
        <h5 class="mb-2">Employee</h5>
        <p class="form-control">Natalie Machado</p>
      </div>
    </div>
  </header>

  <main class="row align-items-start g-3">
    <div class="col-md-6 col-12">
      <h5 class="mb-2">Address</h5>
      <p><%= invoice.address.squish.titleize %></p>
      <div class="row g-3 mt-2">
        <div class="col-md-4 col-12">
          <h5 class="mb-2">Postcode</h5>
          <p><%= invoice.postcode.squish %></p>
        </div>
        <div class="col-md-8 col-12 text-wrap">
          <h5 class="mb-2">Email</h5>
          <p><%= invoice.email.squish %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <h5 class="mb-2">County</h5>
      <p><%= invoice.county.squish.titleize %></p>
    </div>
  </main>

  <div class="row g-3 justify-content-between">
      <h4 class="services text-xl">Services</h4>
    <% @invoice.services.each do |service| %>
      <div class="col-md-8">
        <p><%= service.description %></p>
      </div>

      <div class="col-md-3 d-flex">
        <p class="w-100">€<%= sprintf "%.2f", service.amount %></p>
      </div>
    <% end %>
  </div>

  <div class="row vat-notes g-3">

    <div class="col-lg-8 col-12">
      <p style="height: 150px;"><%= @invoice.notes %></p>
    </div>

    <div class="col-lg-4 col-12">
      <h5 class="mb-2">Subtotal</h5>
      <p>€<%= sprintf "%.2f", @invoice.subtotal %></p>

      <h5 class="my-2">VAT</h5>
      <p><%= @invoice.vat %>%</p>

      <h5 class="mb-2">Total</h5>
      <p>€<%= sprintf "%.2f", @invoice.total %></p>

      <%= link_to "Edit Invoice", edit_invoice_path(@invoice), class: "btn btn-primary w-100 mt-4" %>
    </div>
  </div>
</section>
