<div class="row align-items-center justify-content-center">
  <div class="col-md-6 col-12">
    <%= form_with url: invoices_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="details d-flex flex-column">
  <div class="recentInvoices">
    <div class="cardHeader">
      <h2>Invoice List</h2>
    </div>
    <table class="mt-5">
      <thead>
        <tr>
          <td>Invoice ID</td>
          <td>Client Name</td>
          <td>Date</td>
          <td>Status</td>
          <td>DELETE</td>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr onclick="location.href='<%= invoice_path(invoice) %>'" style="cursor: pointer;">
            <td><%= invoice.id %></td>
            <td><%= invoice.client.name.titleize %></td>
            <td><%= invoice.created_at.strftime("%d/%m/%Y") %></td>
            <td><i class="text-center fa-regular fa-circle-check badge-soft-success"></i></td>
            <td class="no-hover">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <%= link_to "", invoice_path(invoice), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this invoice? This action cannot be undone."}, class: "fa-regular fa-circle-xmark badge-soft-danger", title: "Delete Invoice" %>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
