<div class="main" data-sidebar-target="toggle" data-controller="sidebar">
  <%= render 'partials/topbar' %>
  <div class="container col-md-6 px-3 mt-5">
    <div class="login-main">
      <h3 class="audiowide">Forgot your password?</h3>
    </div>

    <div class="login-body row align-items-center justify-content-center">
      <div class="col-md-6 col-12">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Reset password instructions", class: "btn btn-primary w-100" %>
          </div>
        <% end %>
        <div class="d-flex flex-column gap-2 mt-3 login-main">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
