<div class="container">
  <%= simple_form_for @client do |f|%>
    <%= f.input :client_name %>
    <%= f.input :client_address %>
    <%= f.input :client_county %>
    <%= f.input :client_email %>
    <%= f.input :client_postcode %>
    <%= f.input :client_phone %>
    <% if current_page?(new_client_path)%>
      <%= f.submit "Create Client", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Update Client", class: "btn btn-primary" %>
        <%= link_to "Delete Client", client_path(@client), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>
