<div class="details">

    <h1><%= client.name %></h1>
    <p><%= client.address %></p>
    <p><%= client.county %></p>
    <p><%= client.postcode %></p>
    <p><%= client.phone %></p>
    <p><%= client.email %></p>


    <%= link_to edit_client_path(client) do %>
      <span class="visually-hidden">Edit</span>
      <i class="fas fa-edit"></i>
    <% end %>

    <%= link_to client_path(client), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <span class="visually-hidden">Delete</span>
      <i class="fa-solid fa-trash"></i>
    <% end %>

    <%= link_to new_client_invoice_path(client.id) do %>
      <span class="visually-hidden">New Invoice</span>
      <i class="fa-solid fa-file"></i>
    <% end %>


</div>
